body {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1.25em;
	font-family: 'Lato', sans-serif !important;
	color: #707070;
}

textarea, input {
	font-family: 'Lato', sans-serif !important;
}

/* js composer */
.nav>li>a {
	padding: 10px 13px!important;
}
.page-id-4143 .vc_pageable-slide-wrapper .vc_gitem-zone {
	min-height: auto !important;
}
.vc_pageable-slide-wrapper .vc_gitem-zone {
	min-height: 191px;
	background-position: 55% 50% !important;
}
.evc-testimonials .evc-t-author {
	text-transform: uppercase;
	font-size: 1em !important;
}
.wpb_text_column {
	font-family: 'Lato', sans-serif !important;
}
.ac-red .vc_tta-panel-heading h4 {
	color: #fff !important;
	background-color: #93050D !important;
}
.bg-dark .vc_tta-panel-heading h4 {
	color: #fff !important;
	background-color: #D4A23F !important;
}
.bg-dark .vc_toggle .vc_toggle_title {
	color: #fff !important;
	background-color: #D4A23F !important;
}
.vc_tta-panel-heading h4 {
	color: #fff;
	background-color: #003383 !important;
	padding: 0.1em 0 !important;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {
	color: #fff !important;
}
.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::before, .vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::after {
	border-color: #fff !important;
}
.vc_tta-panel-heading .vc_tta-title-text {
	color: #fff !important;
}
.cc-btn {
    padding: 0.3em 0.8em !important;
    border-radius: 7px !important;
}
.faqcinza .vc_toggle .vc_toggle_title {
	color: #003383 !important;
	background-color: #EFEFEF !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	border-radius: 4px;
}
.faqcinza .vc_toggle .vc_toggle_title h4 {
	color: #003383 !important;
}
.faqcinza .vc_toggle_rounded .vc_toggle_icon::after, .faqcinza .vc_toggle_rounded .vc_toggle_icon::before {
	background-color: #003383 !important;
}
.faqcinza .vc_toggle_color_sky .vc_toggle_icon::after, .faqcinza .vc_toggle_color_sky .vc_toggle_icon::before {
	background-color: #003383 !important;
}
#docente-vestibular ul {
	list-style: none;
}	
.vc_toggle .vc_toggle_title {
	color: #fff !important;
	background-color: #003383 !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	border-radius: 4px;
}
.vc_toggle .vc_toggle_title h4 {
	color: #fff !important;
}
.vc_toggle .vc_toggle_content {
	border-radius: 4px;
	background-color: #FFFFFF;
	font-size: 0.95em;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	margin-bottom: 15px !important;
	margin-top: 0px !important;
	padding-bottom: 20px !important;
	padding-top: 20px !important;
}
.vc_toggle .vc_toggle_title .vc_toggle_icon {
	background-color: transparent !important;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-tab.vc_active>a {
	color: #003383 !important;
	font-weight: 600 !important;
}

.single-post a>strong, .single-post strong>a {
    font-weight: 600;
    text-decoration: none !important;
    background-position-y: 0%;
    background-image: linear-gradient( white 50%, #ffe179 50%);
    transition: background 250ms ease;
    background-size: 2px;
    background-size: auto 175%;
}
.single-post a>strong:hover, .single-post strong>a:hover {
    background-position-y: 100%;
	color: #333 !important;
}
.tsec {
	display: none !important; /* hide sec title */
}
.bootbox .modal-body {
    padding: 25px !important;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
#wapp {
    padding: 0.66em 1.25em 0.66em 1.25em !important;
    position: fixed;
    bottom: 2%;
    left: 1%;
    z-index: 99999;
    background-color: #449700;
    border-radius: 48px;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-shadow: 7px 7px 23px -10px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 7px 23px -10px rgba(0,0,0,0.60);
    box-shadow: 7px 7px 23px -10px rgba(0,0,0,0.60);
    animation-name: reduce;
    animation: 0.35s ease-out 4s forwards reduce;
	transition: 0.3s ease all;
}
#wapp:hover {
    filter: brightness(1.2);
}
#wapp a {
    color: #fff;
}
#wapp span {
    font-weight: bold;
    margin-left: 2.75em;
    display: inline-block;
}
#wapp .fa-whatsapp{
    font-size: 2.66em;
    font-family: FontAwesome;
    font-style: normal !important;
    position: absolute;
    left: 0;
    padding: 0.266em 0.33em;
}
@keyframes reduce {
  0% {
    width: 10em;
  }
  100% {
    width: 64px;
  }
}

#galeria-de-fotos {
	padding-top: 80px;
}
.card-doacao .progress-label{
	font-size: 2em !important;
	color: #D4A23F;
}
.card-escola .vc_column-inner {
	min-height: 290px;
	border-radius: 12px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	box-sizing: border-box;
	margin: 10px 0;
	padding: 0 0 15px 0 !important;
}
.card-escola img {
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	border-top-left-radius: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-right-radius: 12px;
}
.card-escola .wpb_text_column {
	padding: 0 25px;
}

.post-titulo-mask {
	max-width: 650px;
	width: 100%;
	-webkit-mask-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 87%, transparent 100%);
	white-space: nowrap;
}
.item-post {
	font-size: 0.9em;
	margin: 20px 0;
}
.related_thumb {
	margin-right: 15px;
}
.related_thumb img {
	max-width: 96px;
	height: auto;
}
.timebullet {
	background: url(../images/bullet.png) top left no-repeat;
	padding-left: 52px;
}
.post-password-form {
	padding: 150px 30px 100px 30px;
}
#comochegar {
	font-size: 0.95em !important;
	justify-content: space-between !important;
}
#comochegar ul {
    padding: 0;
    margin: 0;
	list-style: none;
}
#comochegar > div {
	max-width: 65%;
	padding-right: 5px;
	margin: 7px 0;
}
#comochegar li {
    float: left;
    list-style: none;
    padding: 0 13px 0 0;
}
#comochegar img {
	height: 28px !important;
	width: auto !important;
	opacity: 0.5;
}
#comochegar img:hover {
	opacity: 0.9;
}
.submenu-bbteca {
	background-color: #003383;
	box-sizing: border-box;
	overflow: initial !important;
	z-index: 9;
}
.submenu-bbteca a {
	color: #fff;
	transition: all 0.3s ease;
}
.submenu-bbteca a:hover {
	color: #D4A23F;
}
.submenu-bbteca a.active {
	color: #D4A23F;
}
.submenu-bbteca .maxwidth {
}
.submenu-bbteca li {
	list-style: none;
	float: left;
	padding: 3px 25px;
	border-right: 1px solid #fff;
}
.submenu-bbteca li:last-child {
	border-right: 0 !important;
}
.submenu-bbteca ul {
	padding: 25px 0 20px 0;
	margin: 0;
}

.submenu-bbteca li {
 display: block;
 transition-duration: 0.5s;
}

.submenu-bbteca li:hover {
  cursor: pointer;
}

.submenu-bbteca ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-left: -25px;
  display: none;
  padding: 20px 0;
  background-color: #003383;
  z-index: 999;
}

.submenu-bbteca ul li:hover > ul,
.submenu-bbteca ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.submenu-bbteca ul li ul li {
  clear: both;
  width: 100%;
  border-right: 0 !important;
}

/* Cores primárias mono */
.branco {
	color: #FFFFFF;
}
.branco a {
	color: #FFFFFF;
}
.branco a:hover {
	text-decoration: underline;
}
.cool-gray {
	color: #F7FAFD;
}
.cinza-claro {
	color: #EFEFEF;
}
.cinza {
	color: #D2D1D1;
}
.preto {
	color: #161615;
}

/* Cores primárias */
.azul {
	color: #003383;
}
.bg-azul {
	background-color: #003383;
	color: #fff;
}
.ouro {
	color: #D4A23F;
}
.bg-ouro {
	background-color: #D4A23F;
	color: #fff;
}
.vermelho {
	color: #93050D;
}
.bg-vermelho {
	background-color: #93050D;
}


/* Cores secundárias */
.roxo {
	color: #7210C6;
}
.azul-claro {
	color: #135AE0;
}
.ciano {
	color: #00C1CF;
}
.verde {
	color: #108505;
}
.pink {
	color: #DB0365;
}
.aqua {
	color: #2B969E;
}

/* cores das seções */

.observatorio_1 {
	background-color: #7210C6;
}
.observatorio_2 {
	background-color: #48A27C;
}
.mescla_1 {
	background-color: #DB0365;
}
.mescla_2 {
	background-color: #353988;
}
.iot_1 {
	background-color: #1AA19A;
    background-image: linear-gradient(to bottom,#FFF 0% 50%,#1AA19A 0% 50%);
}
.iot_2 {
	background-color: #1AA19A;
	background-image: linear-gradient(to bottom,#1AA19A 0% 50%,#662483 0% 50%);
}
.museu {
	background-color: #3CD6C4;
}
.azul-escuro {
	background-color: #040729;
}
.acontece {
	background-color: #5881D6;
}
.exclusivo {
	background-color: #043383;
}


/* linhas */

hr.linha-ouro {
	background-color: #D4A23F;
	line-height: 3px;
	border: 0;
	margin: 1.25em 0;
	height: 3px;
}
hr.linha-azul {
	background-color: #003383;
	line-height: 3px;
	border: 0;
	margin: 1.25em 0;
	height: 3px;
}
hr.linha-vermelha {
	background-color: #93050D;
	line-height: 3px;
	border: 0;
	margin: 1.25em 0;
	height: 3px;
}
hr.linha-branca {
	background-color: #FFFFFF;
	line-height: 3px;
	border: 0;
	margin: 1.25em 0;
	height: 3px;
}
hr.linha-pink {
	background-color: #DB0365;
	line-height: 3px;
	border: 0;
	margin: 1.25em 0;
	height: 3px;
}
hr.linha-aqua {
	background-color: #2B969E;
	line-height: 3px;
	border: 0;
	margin: 1.25em 0;
	height: 3px;
}

hr {
	background-color: #D2D1D1;
	line-height: 1px;
	border: 0;
	height: 1px;
}


/*cursos */

.page-template-template-curso-extensao {
	font-size: 0.9em !important;
}
.nav.nav-pucc {
	/* display: flex; */
	list-style: none;
	padding: 0;
}
.nav.nav-pucc li {
	min-width: 20%;
	float: left;
}
.nav.nav-pucc li a {
	color: #003383;
	font-weight: bold;
	text-align: center;
	border: 2px solid #003383;
	border-radius: 9px;
	margin: 0 8px 8px 0;
	padding: 9px 13px!important;
}
.nav.nav-pucc li:hover a {
    color: #000;
    border: 2px solid #000;
}
.nav.nav-pucc li.active a {
    color: #fff;
    border: 2px solid #d4a23f;
    background-color: #d4a23f;
}
button.btn.btn-default, button.btn.trigger-async-disciplinas {
	background-color: #D4A23F;
	border: 0;
}

.hidden-lg, .hidden-md {
	display: none;
}
.disable {
	display: none !important;
}
.tab-content>.active {
    display: block !important;
}
.tab-content>.tab-pane {
    display: none;
}
#disciplinas ul {
	list-style: none;
}
#disciplinas .slide.open {
	background: #fff;
}
.tab-content.tab-pucc {
	margin-top: 20px !important;
}
.tab-pucc strong, .tab-pucc b {
    color: #003383;
}
.tab-content.tab-pucc h2 {
	margin-top: 20px;
}
.tab-content.tab-pucc h3, .tab-content.tab-pucc h2 {
	color: #003383;
	border-bottom: 2px solid #003383;
}
.tab-content.tab-pucc h3 {
	font-size: 1em !important;
	margin: 20px 0;
}
.tab-content.tab-pucc h2 {
	font-size: 1.5em !important;
}
.tab-content.tab-pucc .container {
	font-size: 1.5em !important;
}
.tab-pucc .accordion ul {
    padding: 15px 0;
    list-style: none;
}
.tab-pucc .accordion h3 {
	cursor: pointer;
	border-bottom: 0 !important;
	color: #fff !important;
	background-color: #003383;
	padding: 13px 12px !important;
	border-radius: 5px;
	margin: 5px 0 !important;
	transition: all 0.25s ease;
}
.tab-pucc .accordion h3:hover { 
	background-color: #6194e5;
}

.tab-pucc .accordion h3:after {
	content: "+";
	float: right;
	color: #fff;
}
.tab-pucc .accordion .slide {
	display: none;
}

.widget.widget-user-avatar .content {
	text-align: center;
}
.widget.widget-user-avatar .avatar {
	background-image: none;
	height: 180px;
	padding-left: 0;
}
.widget.widget-user-avatar .content a .avatar {
	border-radius: 50%;
	height: 120px;
	float: left;
	width: 120px;
	border: 2px solid #FFFFFF;
	text-align:center;
	line-height: 120px;
	object-fit: cover;
	object-position: 50% 0%;
	margin: 5px 20px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    2px 2px 8px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         2px 2px 8px 0px rgba(0, 0, 0, 0.16);
}
.widget.widget-user-avatar .content {
	text-align: left;
}
.widget.widget-user-avatar h3 {
	margin-bottom: 40px;
}
.widget.widget-user-avatar .content .clearfix {
	clear: none !important;
} 

.single-evento #main_container {
	overflow: hidden;
}
.btn-pucc {
	background-color: #D4A23F;
    display: inline-block;
    border-radius: 4px;
    padding: 9px 15px;
    color: #fff;
}

.razoes-col {
	width: 30%;
	float: left;
	box-sizing: border-box;
	padding-right: 2%;
}
.razoes-col .wpb_wrapper {
	font-size: 0.85em !important;
	line-height: 1.33em;
}

.widget.widget-avaliacao h3, .widget.widget-user-avatar h3 {
	color: #003383;
	text-transform: uppercase;
	border-bottom: 2px solid #003383;
	font-size: 1.5em !important;
	margin: 25px 0;
}
.widget.widget-avaliacao ul, .widget-detalhes-curso {
	list-style: none;
	padding: 0;
}
.panel-body .table td{
	padding: 5px 4px !important;
	font-size: 0.9em;
}
.panel-body .table td:first-child {
    text-align: center;
}
.page-content-container .btn-pucc {
	margin: 25px 0 !important;
}
#pos-graduacao .widget-detalhes-curso li, #aprimoramentos .widget-detalhes-curso li {
    float: none;
	max-width: 100%;
}
.widget-detalhes-curso li {
    float: left;
    max-width: 250px;
    margin-right: 35px;
	background-color: transparent !important;
}
.widget-detalhes-curso li:last-child {
	margin-right: 0px !important;
	
}
.widget-detalhes-curso li strong{
	color: #003383 !important;
	padding-left: 0px !important;
	padding-right: 3px;
}
.widget-detalhes-curso .icons-curso {
	display: none;
}
.widget-detalhes-curso .tabelaAzul p {
	padding: 2px 0 !important;
}
.widget-detalhes-curso p {
	font-size: 0.8em !important;
	padding: 4px 0 !important;
}
.widget.widget-avaliacao ul li {
	font-size: 0.75em;
	line-height: 1.2em;
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: .25em .3em;
	min-height: 180px;
	text-align: center;
}
.widget {
    margin-bottom: 3.5rem;
	clear: both;
}
.widget.widget-avaliacao li img {
	margin-bottom: 5px;
}

.widget-detalhes-curso li strong {
    font-size: 1em;
    font-weight: 700;
    padding-left: 10px;
}
.widget-detalhes-curso.span-block li span {
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 1rem;
}
.widget-detalhes-curso li {
    font-size: 0.9em!important;
}


/* home */
.home-firstnews .vc_grid.vc_grid-owl-theme .vc_grid-owl-dots.vc_grid-radio_dots {
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
	opacity: 0.33;
}
.home-firstnews .vc_grid-filter-item.vc_gitem-post-category-name {
	background-color: #003383 !important;
}

.area_texto {
	position: absolute;
	top: 38%;
	max-width: 100%;
	width: 1266px;
	left: 55%;
	transform: translate(-50%, -50%);
	z-index: 3;
}
.mediumFont {
	font-size: 1.1em;
	line-height: 1.25em;
	margin: 15px 0 15px 0;
	max-width: 50%;
}
.mediumLargeFont {
	font-size: 2.5em !important;
	line-height: 1.2em;
	font-weight: 600;
	padding: 0.5em 0 !important;
	max-width: 52%;
	border-bottom: 1px solid #fff;
}
.bannerhome-ovelay {
	background: url(../images/overlayhome.png) top left no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
}
.bannertxtLeft {
	right: auto;
}
.bannertxtRight {
	left: auto;
	right: 12%;
	text-align: right;
}
.bannertxtCenter {
	left: 0;
	width: 100%;
	text-align: center;
}

/* tabela */

#grade-curso table td, #grade-curso table th, #grade-curso table caption {
	padding: 3px 7px !important;
}

#grade-curso th, #ementa-curso th, #disciplinas th,  #objetivo th{
    background-color: #003383 !important;
    color: white;
	padding: 3px 7px !important;
}
#grade-curso table tr { background-color: #f4f4f4; }

#grade-curso td, #ementa-curso td, #disciplinas td{
	padding: 3px 7px !important;
	font-size: 0.85em;
}
#grade-curso table tr:hover {
	background-color: #F7FAFD !important;
}

#grade-vestibular table td, #grade-vestibular table th, #grade-vestibular table caption {
	padding: 3px 7px !important;
}

#grade-vestibular th, #ementa-vestibular th {
    background-color: #003383 !important;
    color: white;
	padding: 3px 7px !important;
}
#grade-vestibular table tr { background-color: #f4f4f4; }

#grade-vestibular td, #ementa-vestibular td {
	padding: 3px 7px !important;
	font-size: 0.85em;
}
#grade-vestibular table tr:hover {
	background-color: #F7FAFD !important;
}
.widget h4 {
	clear: left;
}

.tagpost-excl  {
	background-color: #003383;
	/*padding: 3px 13px; */
	border-radius: 20px;
	display: inline-block;
	margin-right: 6px;
	font-size: 0.75em;
	color: #fff;
}
.tagpost-obs  {
	background-color: #48a27c;
	/* padding: 3px 13px; */
	border-radius: 20px;
	display: inline-block;
	margin-right: 6px;
	font-size: 0.75em;
	color: #fff;
}
.tagpost-acont  {
	background-color: #00c1cf;
	/* padding: 3px 13px; */
	border-radius: 20px;
	display: inline-block;
	margin-right: 6px;
	font-size: 0.75em;
	color: #fff;
}

.tagpost-destaque  {
	background-color: #00c1cf;
	 padding: 3px 13px; 
	border-radius: 20px;
	display: inline-block;
	margin-right: 6px;
	font-size: 0.75em;
	color: #fff;
}

table td, table th, table caption {
	border-radius: 7px;
	padding: 9px 12px;
	margin: 1px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow:    0px 1px 4px 0px rgba(0, 0, 0, 0.17);
	box-shadow:         0px 1px 4px 0px rgba(0, 0, 0, 0.17);
}
table caption {
	background-color: #003383;
	color: #fff ;
	font-weight: bold !important;
}
th {
    background-color: #D4A23F;
    color: white;
}
table {
	width: 100%;
	max-width: 100%;
}
table tr:nth-child(odd){ background-color: #EFEFEF; }
table tr:hover {
	background-color: #F7FAFD !important;
}

#corpoDocente td{
	font-family: 'Roboto';
}
#corpoDocente tr:hover {
	background-color: transparent !important;
}
#tbl-corpo-docente td {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#td-corpo-docente:hover{
	box-shadow: 1px 1px 9px 2px !important;
}
#btn-perfil:hover{
	background-color: rgb(0, 0, 0) !important;
}

/* pessoal centros e fac */

.pessoal table td, .pessoal table th, .pessoal table caption, #processoSeletivo table td, #processoSeletivo table th, #processoSeletivo table caption {
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	background-color: transparent;
}

.pessoal {
	padding: 35px 25px;
}
.pessoal table tr:nth-child(odd){ background-color: transparent; }
.pessoal table tr:hover {
	background-color: transparent;
}
.pessoal th {
    background-color: transparent;
}
.pessoal table h4 {
	font-size: 1em !important;
	font-weight: normal;
	color: #003383 !important;
}
.pessoal h2 {
	font-size: 1.25em !important;
	font-weight: normal;
	color: #D4A23F !important;
	text-transform: none;
	margin-bottom: 15px;
}
.pessoal table p {
	color: #93050D !important;
}
.pessoal tr td:first-child { 
	/* foto */
	height: 128px;
	width: 128px;
	line-height: 128px;
	padding: 1px;
	text-align:center;
	border-radius: 50%;
	background-color: #EFEFEF;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	margin-right: 5px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    2px 2px 8px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         2px 2px 8px 0px rgba(0, 0, 0, 0.16);
}
.pessoal tr td:first-child img { 
	/* foto */
	border-radius: 50%;
	height: auto;
	object-fit: cover;
	object-position: 50% 0%;
	height: 133px;
	width: 133px;
	padding: 0 !important;
	margin: 0 !important;
}
/* botão */

.btmargin {
	margin:10px 6px !important;
}
.botao .vc_btn3 {
	color: #FFFFFF !important;
	text-transform: uppercase;
	text-decoration: none !important;
	padding: 11px 16px !important;
	background-color: transparent !important;
	text-decoration: none;
	box-sizing: border-box;
}
#sidebar a.botao {
	display: block;
	text-align: center;
	box-sizing: border-box;
	padding: 12px 15px;
}
.evento-descricao .botao, .cards a.botao {
	padding: 11px 16px !important;
}
.botao, .btn  {
	color: #FFFFFF !important;
	font-weight: bold;
	line-height: 1.33em;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 0.9em;
	border-radius: 4px;	
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	margin: 5px 0;
	transition: all 0.35s ease;
}
.btn, .card-evento .botao {
	padding: 11px 25px;
}

.botao-ghost {
	font-weight: bold;
	line-height: 1.33em;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 0.9em;
	border-radius: 4px;
	display: inline-block;
	padding: 8px 23px;
	text-decoration: none;
	box-sizing: border-box;
	margin: 5px 0;
	transition: all 0.35s ease;
}

.botao-ghost.azul {
	border: 2px solid #003383;
}
.botao-ghost.ouro {
	border: 2px solid #D4A23F;
}
.botao-ghost.vermelho {
	border: 2px solid #93050D;
}
.botao-ghost.azul:hover {
	color: #FFFFFF !important;
	background-color: #003383;
}
.botao-ghost.ouro:hover {
	color: #FFFFFF !important;
	background-color: #D4A23F;
}
.botao-ghost.vermelho:hover{
	color: #FFFFFF !important;
	background-color: #93050D;
}

.botao.azul {
	background-color: #003383 !important;
}
.botao.ouro, .btn.btn-primary {
	background-color: #D4A23F !important;
}
.botao.ouro a {
	color: #fff;
}
.botao.verde {
	background-color: #108505 !important;
}
.botao.vermelho {
	background-color: #93050D !important;
}
.botao.aqua {
	background-color: #2B969E !important;
}
.botao.preto {
	background-color: #111111 !important;
}

.botao.azul:hover, .botao.aqua:hover {
	background-color: #161615 !important;
}
.botao.ouro:hover, .btn.btn-primary:hover {
	background-color: #161615 !important;
}
.botao.vermelho:hover {
	background-color: #161615 !important;
}

.bt-atendimento {
	padding: 6px 20px !important;
	font-size: 0.8em;
}
.bt-relaciona {
	padding: 6px 20px !important;
	font-size: 0.8em;
}
.bt-vestibular {
	padding: 10px 16px;
}


/* sub museu */

.menu-museu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu-museu li {
	border-right: 1px solid #FFF;
	padding: 3px 5%;
	margin: 25px 0 25px 0;
	box-sizing: border-box;
	float: left;
	font-weight: bold;
	color: #FFF;
}
.menu-museu li:last-child {
	border-right: 0 !important;
}
.menu-museu li:first-child {
	padding-left: 0 !important;
}
.menu-museu a {
	font-weight: 600;
	color: #FFF;
	transition: all 0.3s ease;
}
.menu-museu a:hover {
	color: #000;
}
.menu-museu li.active a{
	color: #2B969E;
}

/* geral */

header.portal {
	margin: 0;
	background-color: #FFFFFF;
	height: 100px;
	padding: 9px 10px;
	box-sizing: border-box;
	-webkit-box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    3px 0px 6px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         3px 0px 6px 0px rgba(0, 0, 0, 0.15);
	position: absolute;
	top: 50px;
	left: 3.5%;
	right: 3.5%;
	z-index: 199;
	transition: height 0.25s ease, left 0.25s ease, right 0.25s ease;
}
#logo-loja img {
	image-rendering: -webkit-optimize-contrast;
}
header .safearea {
	margin: 0 auto;
}

.filtro {
	position: absolute;
	top: 650px;
	width: 100%;
	max-width: 1280px;
	box-sizing: border-box;
	z-index: 3;
	left: 50%;
	transform: translateX(-50%);
}
.filtro-campos {
	padding: 20px;
	color: #fff;
	width: 100%;
	max-width: 1280px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #93050D;
}
.filtro .botao {
	padding: 14px 30px !important;
}
.filtro-opcoes {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.filtro .opcao {
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 9px;
	padding-right: 15px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(200, 200, 200, 0.46);
	-moz-box-shadow:    2px 2px 8px 0px rgba(200, 200, 200, 0.46);
	box-shadow:         2px 2px 8px 0px rgba(200, 200, 200, 0.46);
	color: #fff;
	filter: invert(1);
	opacity: 0.5;
	display: inline-block;
	margin: 0 15px;
	transition: all 0.2s ease;
}
.filtro label {
	margin: 0 12px;
}
.filtro .opcao.active, .filtro .opcao:hover {
	background-color: #D4A23F;
	color: #fff;
	opacity: 1;
	filter: invert(0);
}
.filtro .grade.active, .filtro .lista.active {
	filter: invert(0);
}

#main-container .search-results {
	background-color: #F7FAFD;
	padding: 20px 0 35px 0;
	margin-bottom: 20px;
}
.search-section {
	padding: 0 0 10px 0;
}
#search.results {
	 top: 53%;
}
#main-container .search-results ul {
	max-width: 1200px;
	margin: 0 auto;
	list-style: none;
}
#main-container .search-results ul li {
	float: left;
}
.news-search {
	width: 31%;
	margin: 20px 1%; 
	float: left;
	min-height: 435px;
}
.news a {
	    overflow-wrap: break-word;
}
.event-search {
	width: 31%;
	margin: 20px 1%; 
	float: left;
	min-height: 435px;
}
.event-search .title {
	padding: 30px 35px;
	box-sizing: border-box;
	height: 150px;
	background-color: #FFFFFF;
}
.event-search .info {
	padding: 30px 35px;
	height: 120px;
	box-sizing: border-box;
	background-color: #F7FAFD;
}
.evento-completo {
	background-color: #F7FAFD;
	padding: 50px 20px;
	margin-top: 30px;
	clear: both;
}
.card-evento {
	width: 29%;
	margin: 20px 2%; 
	float: left;
	min-height: 425px;
}
.card-evento ul, .lista-evento ul {
	list-style: none;
	padding: 0;
	margin: 15px 0;
}
.card-evento .title {
	padding: 30px 35px;
	box-sizing: border-box;
	height: 180px;
	background-color: #FFFFFF;
}
.card-evento .info {
	padding: 15px 35px;
	height: 250px;
	box-sizing: border-box;
	background-color: #F7FAFD;
}
#news-ev {
	background: url(../images/bg-eventos.jpg) center center no-repeat;
	background-size: cover;
	padding: 60px 0 90px 0;
	color: #fff;
}
.lista-evento {
	padding: 10px;
	box-sizing: border-box;
}
.lista-evento .links {
	width: 25%;
	padding-top: 30px;
	float: left;
}
.lista-evento .txt {
	width: 75%;
	box-sizing: border-box;
	padding-right: 10%;
	float: left;
}
.lista-evento hr {
	margin: 10px 0 20px 0;
}
.lista-container {
	max-height: 520px;
	overflow-y: auto;
}

.lista-container::-webkit-scrollbar {
  width: 9px;
}
.lista-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.lista-container::-webkit-scrollbar-thumb {
  background: #D4A23F; 
}
.lista-container::-webkit-scrollbar-thumb:hover {
  background: #D4A23F; 
}

.capa-evento {
	max-width: 1360px;
	margin: -160px auto 60px;
	background-color: #F7FAFD;
	border-radius: 5px;
	min-height: 400px;
}
.capa-evento .botao, .capa-evento .botao-ghost {
	text-align: center;
	width: 235px;
}
.capa-evento .txt {
	width: 100%; /* 42% */
	float: left;
	box-sizing: border-box;
	padding: 50px 40px;
}
.capa-evento .pic {
	width: 58%;
	float: left;
}
.evento-capa-detalhe img {
	margin-top: -16%;
	-webkit-box-shadow: 7px 10px 20px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    7px 10px 20px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         7px 10px 20px 0px rgba(0, 0, 0, 0.13);
}
.post-capa img { 
	margin-top: -16%;
	width: 100%;
	max-height: 533px;
    object-fit: cover;
	-webkit-box-shadow: 7px 10px 20px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    7px 10px 20px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         7px 10px 20px 0px rgba(0, 0, 0, 0.13);
}
.evento-detalhe h3 {
	font-weight: bold;
	text-transform: uppercase;
}
.evento-capa-detalhe {
	z-index: 2;
	position: relative;
}
.post-capa { 
	z-index: 2;
	position: relative;
	    width: 69%;
}
.evento-banner {
	width: 100%;
	margin: 0 auto;
	min-height: 320px;
	filter: blur(14px);
	overflow: hidden;
	-webkit-filter: blur(13px);
	background-position-y: 50%;
	transform: scale(1.05);
	background-repeat: no-repeat;
	background-size: cover;
}
.post-banner-container, .evento-banner-container {
	width: 100%;
    margin: 0 auto;
    min-height: 320px;
	overflow: hidden;
}
.post-banner {
    width: 100%;
    margin: 0 auto;
    min-height: 320px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.post-banner.blogs {
	background-color: rgb(4 93 193);
	min-height: 240px !important;
}
.banner-interno {
	min-height: 600px;
}
.banner-interno h1 {
	font-weight: bold;
	color: #fff;
	padding: 0 !important;
}
.banner-interno-pqno {
	min-height: 480px;
}
.banner-busca {
	background: url('../images/banner-busca.jpg') center center no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding-top: 180px;
	width: 100%;
	height: 460px;
	color: #fff;
}
.banner-busca h1 {
	color: #fff;
	margin: 0 auto;
	font-weight: 600;
	max-width: 1200px;
}

/* breadcrumb interno */
.banner-interno .breadcrumb {
	max-width: 1200px;
	margin: 0 auto;
}
.banner-interno .breadcrumb ul {
	padding: 0;
	margin: 5px 0;
	list-style: none;
	color: #fff;
	font-size: 0.9em;
}
.banner-interno .breadcrumb ul li {
	display: inline-block;
}
.banner-interno .breadcrumb ul li a {
	color: #fff;
	text-decoration: underline;
}
.banner-interno .breadcrumb ul li:last-child {
	font-weight: bold;
}
.banner-interno .breadcrumb ul li:after {
	content: "»";
	margin: 0 12px;
}
.banner-interno .breadcrumb ul li:last-child:after {
	content: "";
	margin: 0;
}

/* breadcrumb news */

.breadcrumb {
	margin: 10px 0;
}
.breadcrumb ul {
	padding: 0;
	margin: 5px 0;
	list-style: none;
	font-size: 0.9em;
}
.breadcrumb ul li {
	display: inline-block;
}
.breadcrumb ul li a {
	text-decoration: underline;
}
.breadcrumb ul li:last-child {
	font-weight: bold;
}
.breadcrumb ul li:after {
	content: "»";
	margin: 0 12px;
}
.breadcrumb ul li:last-child:after {
	content: "";
	margin: 0;
}

.pesquisa select {
		padding: 9px 12px;
		border-radius: 4px;
}
.smallwidth {
	box-sizing: border-box;
	max-width: 66%;
}

/* icones */

.grade {
	background: url(../images/grid.png) 12px center no-repeat;
	padding-left: 35px;
	line-height: 24px;
	font-size: 0.9em;
	margin: 5px 0;
}
.lista {
	background: url(../images/lista.png) 12px center no-repeat;
	padding-left: 35px;
	line-height: 24px;
	font-size: 0.9em;
	margin: 5px 0;
}
.museu-pin {
	background: url(../images/museu-pin.png) center left no-repeat;
	padding-left: 32px;
	line-height: 24px;
}
.museu-mail {
	background: url(../images/museu-mail.png) center left no-repeat;
	padding-left: 32px;
	line-height: 24px;
}
.museu-fb {
	background: url(../images/museu-fb.png) center left no-repeat;
	padding-left: 32px;
	line-height: 24px;
}

.ev-info {
	height: 200px;
	box-sizing: border-box;
}
.ev-title {
	height: 140px;
	box-sizing: border-box;
}
.evento-descricao {
	box-sizing: border-box;
	padding: 40px 10%;
}
.ev-hora {
	background: url(../images/hora.png) center left no-repeat;
	padding-left: 32px;
	line-height: 24px;
	font-size: 0.8em;
	margin: 5px 0;
}
.ev-dia {
	background: url(../images/date.png) center left no-repeat;
	padding-left: 32px;
	line-height: 24px;
	font-size: 0.8em;
	margin: 5px 0;
	float: left;
}
.ev-diafim {
	line-height: 24px;
	font-size: 0.8em;
	margin: 5px 4px;
	float: left;
}
.ev-pin {
	background: url(../images/onde.png) center left no-repeat;
	padding-left: 32px;
	line-height: 24px;
	font-size: 0.8em;
	margin: 5px 0;
}
.ev-who {
	padding-left: 32px;
	line-height: 24px;
	font-size: 0.8em;
	margin: 5px 0;
}

.avatar {
	background: url(../images/avatar.png) left center no-repeat;
	height: 20px;
	padding-left: 22px;
	margin-right: 8px;
	font-size: 0.75em;
}
.clock {
	background: url(../images/clock.png) left center no-repeat;
	height: 20px;
	padding-left: 22px;
	font-size: 0.75em;
}
.alignleft.clock {
	float: left !important;
}
.avatar.gray {
	background: url(../images/avatar-gray.png) left center no-repeat !important;
	padding-left: 18px;
	font-size: 0.7em;
	margin-bottom: 5px;
}
.clock.gray {
	background: url(../images/clock-gray.png) left center no-repeat !important;
	padding-left: 18px;
	font-size: 0.7em;
	margin-bottom: 5px;
}
.inscricao-aberta {
	background: url(../images/check-green.png) left center no-repeat !important;
	padding-left: 18px;
	font-size: 0.8em;
	font-weight: 600;
	color: #108505 !important;
	margin-bottom: 5px;
}
.inscricao-enserrada {
	background: url(../images/date.png) left center no-repeat !important;
	padding-left: 24px;
	font-size: 0.8em;
	font-weight: 600;
	color: #D4A23F !important;
	margin-bottom: 5px;
}
.share-tw {
	background: url(../images/share-tw.png) center center no-repeat;
	background-size: 26px;
	line-height: 26px;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 3px 2px;
	padding: 0 13px;
	border-right: 1px solid #ddd;
}
.share-fb {
	background: url(../images/share-fb.png) center center no-repeat;
	background-size: 26px;
	line-height: 26px;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 3px 2px;
	padding: 0 13px;
	border-right: 1px solid #ddd;
}
.share-in {
	background: url(../images/share-in.png) center center no-repeat;
	background-size: 26px;
	line-height: 26px;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 3px 2px;
	padding: 0 13px;
}
.share-wp {
	background: url(../images/wp.png) center center no-repeat;
	background-size: 26px;
	line-height: 26px;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 3px 2px;
	padding: 0 13px;
	border-right: 1px solid #ddd;
}
.share-tw, .share-fb, .share-in {
	transition: all 0.3s ease;	
}
.share-tw:hover, .share-fb:hover, .share-in:hover, .share-wp:hover {
	opacity: 0.5;	
}

/* header fixed */

header.portal.fixed {
	height: 68px;
	padding: 1px 0px;
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 999;
}

header.portal.fixed div.safearea {
	margin: 0;
	width: 100%;
	max-width: 100%;
}
header.portal.fixed .logo {
	height: 62px;
}
header.portal.fixed .bt-vestibular {
	padding: 9px 20px;
}

.disclaimer {
	padding: 10px 0;
	font-size: 0.9em;
}
.grupo {
	padding: 30px 0;
	font-size: 1.25em;
	align-items: center;
}
.grupo img {
	/*margin-right: 30px;*/
	height: 80px;
	width: auto;
}
.grupo span {
	float: right;
	vertical-align: middle;
	line-height: 100px;
}
.grupo div {
	transition: all 0.35s ease;
	min-height: 124px;
}
.grupo div:hover {
	transform: translateY(-5px);
}
.overlay-bottom {
	overflow: hidden;
	position: relative;
}
.overlay-bottom:after {
	content: "";
	background: url(../images/overlay.png) center bottom no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 2;
	transition: all 0.3s ease;
}
.overlay-bottom:hover:after {
	background-position: center 30px;
}
.relative {
	position: relative;
	z-index: 3;
}
.grayscale {
  filter: grayscale(1);
  opacity: 0.7;
  transition: all 0.3s ease;
}
.grayscale:hover {
  opacity: 1;
  filter: grayscale(0);
}
.logo-empresas {
	padding: 15px;
}
.logo {
	height: 82px;
	width: auto;
	margin: 0 12px 0 5px;
	transition: all 0.35s ease;
}
.share-title {
	float: left;
	margin-right: 5px;
	padding: 6px 0;
}
/*
.compartilhe .textwidget {
	float: right;
}
.compartilhe {
	max-width: 420px;
}
*/
.logo-footer {
	height: 140px;
	width: auto;
	margin: 0 10px;
	transform: translateY(-45%);
}
.copyright {
	margin-top: 100px;
	font-size: 0.9em;
}

#logo-loja {
	max-width: 86px;
}
#logo-loja img {
	height: auto;
}
#header-social ul, #footer-social ul {
	padding: 0;
	margin: 0;
}
#header-social li, #footer-social li {
	list-style: none;	
	float: left;
}
#header-social img, #footer-social img {
	width: 22px;
	height: auto;
}
#header-social a {
	display: inline-block;
	padding: 20px 2px;
	transition: all 0.2s ease;
}
#footer-social a {
	display: inline-block;
	padding: 0px 2px;
	transition: all 0.2s ease;
}
#header-social a:hover, #footer-social a:hover {
	/*filter: brightness(0);*/
	transform: scale(1.25);
	opacity: 1;
}
#footer-social a {
	/*filter: brightness(0);*/
	opacity: 0.5;
}
#footer-social {
	margin-left: 20%;
}
.bee {
	height: auto;
	width: 96px
}

#barra-topo {
	background-color: #003383;
	color: #FFFFFF;
	height: 50px;
	padding: 5px;
	box-sizing: border-box;
}

#barra-topo a {
	color: #FFFFFF;
	text-decoration: underline;
}
#barra-topo .safearea {
	max-width: 1365px !important;
	font-size: 0.98em;
}
#acessibilidade {
}
.campo-pqno {
	width: 25%;
}

.luz {
	background: url(../images/ico-luz.svg) left center no-repeat;
	background-size: 18px;
	width: 24px;
	height: 24px;
	margin: 0 3px;
	cursor: pointer;
	display: none;
}
.font-mais {
	background: url(../images/ico-fontmore.svg) left center no-repeat;
	background-size: 18px;
	width: 24px;
	height: 24px;
	margin: 0 3px;
	cursor: pointer;
}
.font-menos {
	background: url(../images/ico-fontless.svg) left center no-repeat;
	background-size: 18px;
	width: 24px;
	height: 24px;
	margin: 0 3px;
	cursor: pointer;
}
button {
	border: 0;
}

.sombras {
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    2px 2px 8px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         2px 2px 8px 0px rgba(0, 0, 0, 0.16);
}

.book {
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    10px 10px 10px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         10px 10px 10px 0px rgba(0, 0, 0, 0.16);
}

.tags {
	border-radius: 25px;
	padding: 8px 25px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 0.8em;
	text-align: center;
	display: inline-block;
	transition: all 0.35s ease;
}
.tags:hover {
	filter: brightness(1.1);
}
.video-container iframe {
	min-height: 420px !important;
}
.circulo {
	border-radius: 50%;
}
.rounded {
	border-radius: 10px;
	background-color: #FFFFFF;
}
.rounded img {
	border-radius: 10px;
}
.round {
	border-radius: 10px;
}
.icons {
	border-radius: 50%;
	background-color: #FFFFFF;
	line-height: 120px;
	text-align:center;
	margin-bottom: 10px !important;
	height: 112px;
	width: 112px;
	box-sizing: border-box;
}
.icons.alignleft {
	margin-right: 25px;
}
.icons img {
	margin: 30px auto;
	max-width: 100%;
	height: auto;
}
.logo-inscricao img {
	width: 180px;
	height: auto;
}
.logo-inscricao {
	margin-right: 25px;
	padding-right: 25px;
	border-right: 2px solid #D2D1D1;
	float: left;
}
.profile {
	height: 120px;
	width: 120px;
	text-align:center;
	border-radius: 50%;
	background-color: #EFEFEF;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
}
.profile img {
	border-radius: 50%;
	width: 100%;
	height: auto;
	object-fit: cover;
}
.profile.pictop img {
	object-position: 50% 0%;
}
.profile.x150 {
	height: 150px;
	width: 150px;
	line-height: 150px;
}
.profile.x150 img {
	height: 140px;
	width: 140px;
}
.profile.x210 {
	height: 210px;
	width: 210px;
	line-height: 210px;
}
.profile.x210 img {
	height: 200px;
	width: 200px;
}
.profile.x260 {
	height: 260px;
	width: 260px;
	line-height: 260px;
}
.profile.x260 img {
	height: 250px;
	width: 250px;
}
.bibliocards .cards .vc_column-inner {
	height: 266px;
}

.course-data {
	margin-bottom: 10px !important;
}
.course-data.itemlista {
	width: 100% !important;
}
.course-data.itemgrade {
	width: 33% !important;
}
.course-data.itemgrade .vc_grid-item-mini.vc_clearfix {
	height: 200px;
}
.course-data.itemgrade .vc_col-sm-4 {
	width: 100% !important;
}
.course-data.itemgrade .vc_col-sm-8 {
	width: 100% !important;
}

.course-data.itemlista .vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-16-9:before {
	padding-top: 142px !important;
}

.card-grad .vc_grid-item-mini.vc_clearfix {
	border-radius: 6px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	padding: 25px 15px !important;
	transition: all 0.25s ease;
}
.card-grad .vc_grid-item-mini.vc_clearfix:hover {
	transform: scale(1.02, 1.02);
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    0px 3px 9px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         0px 3px 9px 0px rgba(0, 0, 0, 0.16);
	background-color: #F7FAFD;
}
.card-grad a.vc_gitem-link {
    font-size: 1.15rem !important;
    font-weight: normal;
}  
.cards .vc_column-inner {
	border-radius: 4px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	box-sizing: border-box;
	margin: 10px 0;
	padding: 15px !important;
}
.card {
    margin: 20px 0;
    background: white;
    position: relative;
    border-radius: 8px;
    padding: 1em 1.25em;
    box-shadow: 0 3px 15px -4px rgba(0, 0, 0, 0.15) !important;
}
.cardscurso-horizontal {
	border-radius: 4px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	box-sizing: border-box;
	margin: 15px 0;
	padding: 15px 25px !important;
}
.card-grad-search {
	border-radius: 4px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	width: 24%;
	float: left;
	margin: 10px 0.5%;
	padding: 25px 15px !important;
	transition: all 0.3s ease;
	min-height: 220px;
}
.card-grad-search:hover {
	transform: scale(1.02, 1.02);
	background-color: #F7FAFD;
}
#nitempresa .cards .vc_column-inner {
	min-height: 290px;
}
.inscricao a {
	background-color: #108505 !important;
	box-shadow: none !important;
	text-transform: uppercase;
	font-size: 1em !important;
	margin: 0 auto !important;
}
.inscricao p {
	padding: 0 !important;
}
.box-azul {
	background-color: #003383;
	color: #fff;
	padding: 30px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	min-height: 340px;
	box-sizing: border-box;
}
.box-azul h3, .box-azul h4 {
	color: #fff;
}
.depoimento {
	margin-left: 130px;
	padding: 40px;
	min-height: 330px;
	box-sizing: border-box;
	background-color: RGBA(255,255,255,0.9)
}
.depoimento-home {
	max-height: 600px;
	overflow: hidden;
}
.breadcrumb a {
	text-decoration: underline;
}

.ico-offset-top {
	transform: translateY(calc(-50% - 0px)); /* metade icone + card padding */
}
.profile-offset-left {
	/* transform: translateX(calc(-50% - 0px)); /* metade foto + card padding */
	margin-left: -130px;
	margin-right: 60px;
}

.campi .wpb_single_image {
	position: relative;
}
.campi .wpb_single_image .wpb_heading {
	position: absolute;
	color: #fff;
	bottom: 30px;
	left: 30px;
	font-size: 1.75em !important;
}
.parceria td, .parceria tr, .parceria table {
        padding: 2px !important;
		font-weight: normal !important;
		font-size: 0.92em !important;
}

.no-desktop {
	display: none;
}

/* modal bootstrap */

.badge{color:#dff0d8;background-color:#3c763d}.panel-success>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#d6e9c6}.panel-info{border-color:#bce8f1}.panel-info>.panel-heading{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.panel-info>.panel-heading+.panel-collapse>.panel-body{border-top-color:#bce8f1}.panel-info>.panel-heading .badge{color:#d9edf7;background-color:#31708f}.panel-info>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#bce8f1}.panel-warning{border-color:#faebcc}.panel-warning>.panel-heading{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.panel-warning>.panel-heading+.panel-collapse>.panel-body{border-top-color:#faebcc}.panel-warning>.panel-heading .badge{color:#fcf8e3;background-color:#8a6d3b}.panel-warning>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#faebcc}.panel-danger{border-color:#ebccd1}.panel-danger>.panel-heading{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.panel-danger>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ebccd1}.panel-danger>.panel-heading .badge{color:#f2dede;background-color:#a94442}.panel-danger>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ebccd1}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}.embed-responsive-16by9{padding-bottom:56.25%}.embed-responsive-4by3{padding-bottom:75%}.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}.well blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}.well-lg{padding:24px;border-radius:6px}.well-sm{padding:9px;border-radius:3px}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2}.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5}button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0}.modal-open{overflow:hidden}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0; visibility: hidden;}.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.42857143}.modal-body{position:relative;padding:15px}.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;filter:alpha(opacity=0);opacity:0;line-break:auto}.tooltip.in{filter:alpha(opacity=90);opacity:.9}.tooltip.top{padding:5px 0;margin-top:-3px}.tooltip.right{padding:0 5px;margin-left:3px}


@media screen and (max-width: 1366px) {
.vc_tta-panel-heading h4 {
	font-size: 1.1em !important;
}
.wpb-js-composer .vc_tta.vc_general {
	font-size: 0.92em !important;
}
.area_texto {
	left: 55%;
	top: 25%;
}
}

@media screen and (max-width: 1320px) {
	#logo-loja {
   		max-width: 72px;
	}
	.bt-vestibular {
    	padding: 10px 12px;
		font-size: 0.74em;
	}
}

@media screen and (max-width: 1150px) {
	#logo-loja {
   		display: none;
	}
	#btn-vest-a {
    	min-width: 100px;
	}
	.logo {
    	height: 76px; 
	}
	.bt-vestibular {
    	padding: 10px 5px;
		font-size: 0.62em;
	}
	header.portal {
    	padding: 8px;
		height: 96px;
	}
}

@media screen and (min-width: 960px) {
	#especializacao-e-mba .course-data {
		 width: 33% !important;
	}
	#especializacao-e-mba .course-data.itemlista {
	width: 100% !important;
 }
}

@media screen and (max-width: 960px) {
	
.b1_3, .b1_2, .b2_3, .b1_4, .b3_4 {
	width: 100%;
	float: none;
}
header.portal {
	width: 100%;
	height: auto;
	padding: 10px;
	top :50px;
	left: 0;
	right: 0;
}
nav {
	display: none;
}
#barra-topo {
	position:absolute;
	display: block;
	width: 100%;
	top: 0;
}
#barra-topo nav {
	display: block !important;
}
#acessibilidade {
	display: none;
}
#main-container {
	margin-top: 150px;
}
.mediumLargeFont {
    font-size: 1.33em !important;
    line-height: 1.2em;
    font-weight: 600;
    max-width: 100%;
    border-bottom: 1px solid #fff;
}
.mediumFont {
    font-size: 0.9em;
    line-height: 1.15em;
    padding: 0.5em;
    max-width: 100%;
}
.area_texto {
    position: absolute;
    top: 0;
	padding: 10px 20px;
    max-width: 85%;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 3;
}
#footer-social {
	margin: 10px auto;
	width: 184px;
}
.vc_column_container {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.banner-interno {
    min-height: 360px;
}
.logo-footer {
    height: 80px;
	margin: 20px auto;
    transform: translateY(0);
}
.razoes-col {
	width: 100%;
	float: none;
	box-sizing: border-box;
	padding: 0;
}
.banner-interno h1 {
    font-size: 2em !important;
}
.grupo span {
	float: none;
}
.ico-offset-top {
    transform: translateY(calc(-23% - 0px));
}
.area_texto .botao {
	margin: 0 0 0 10px;
}
.bt-vestibular {
   margin: 15px 8px !important;
   font-size: 0.8em;
}
#logo-loja {
		display: none;
	}
#header-social {
	display: none;
}
header.portal.fixed {
    height: auto;
    padding: 4px 0px;
}
header.portal .logo {
	float: left;
	height: 62px;
}
.depoimento {
	width: 90%;
	margin: 40px 5%;
	padding: 30px !important;
	box-sizing: border-box;
}
.profile-offset-left {
	margin: 10px;
}
.profile.x260 img {
	height: 158px;
    width: 158px;
}
.profile.x260 {
	transform: translateY(-40px);
	height: 160px;
    width: 160px;
}
.alignleft, .alignright {
	float: none;
}
.filtro {
	height: 400px;
	top: 500px;
}
.campo35, .campo33 {
	width: 75%;
}
.filtro-spacer {
	height: 280px !important;
}
.filtro-opcoes {
	display: block;
}
.organiza-opcoes {
	margin: 10px 12px;
}
.hiddenabas .vc_tta-panel-heading {
	display: none !important;
}
#limpabtn, #pesqbtn {
	margin: 20px 10px 10px 0px;
}

}

@media screen and (max-width: 480px) {
.bee {
	margin-top: 15px;
	}
.wpb_text_column {
    font-size: 0.9em;
}
h4 {
	font-size: 1.15em !important;
	line-height: 1.2em;
	}
.filtro {
	height: auto;
	top: 485px;
}
.banner-busca h1 {
	margin-top: 27%;
}
.no-mobile {
	display: none !important;
}
.no-desktop {
	display: block;
}
.table {
	font-size: 0.88em;
}
.card-grad-search, .news-search {
	width: 100%;
	margin: 0 !important;
}
.banner-busca h1 {
	font-size: 1.75em !important;
}
.search-results #main-container {
    margin-top: 20px;
}
.search-section {
	margin: 10px 15px;
}
.profile {
	margin: 0 auto 30px auto !important;
}
.depoimento {
	width: 100% !important;
	margin: 0px !important;
	padding: 25px !important;
	box-sizing: border-box;
}
.depoimento-home .vc_row-no-padding.vc_inner {
	margin-right: 0 !important;
}
#news-ev { /*Daniel*/
	padding: 50px 15px 80px 15px;
}
.fullwidth { /*Daniel*/
		width: 100%;
	}
#barra-topo {
	height: 110px;
	z-index: 998; /*Avelino*/
}
header.portal {
	top: 110px;
}
.bt-atendimento {
	display: block;
	text-align: center;
}
.card-evento { /*Avelino*/
    width: 90%;
    margin: 20px 2% 20px 20px;
    float: left;
    min-height: 425px;
}
#main-container {
	margin-top: 180px;
}
.mediumFont {
	/* display: none; */
}
.bannerhome-ovelay {
    /* background-size: 100%; */
}
.campo35, .campo33 {
	width: 100%;
}
.filtro-spacer {
	height: 350px !important;
}
.bricks--component-embeddable-form {/*Avelino*/
	    width: 100% !important;
}
.post-capa { 
	    width: 90%;
    margin: 0 auto;
}
.breadcrumb {
	padding: 10px 0px 0px 20px;
}
.news { 
	padding: 0px 10px 0px 10px;
}
.news iframe {
	width: 100%;
	height: auto;
	min-height: 240px;
}
}

@media screen and (max-width: 380px){
	#main-container {
	    margin-top: 250px;
	}
	.bt-vestibular {
		padding: 15px 8px;
		font-size: 0.7em;
	}
	#main-menu > li, #top-menu > li {
		margin: 3px 0 !important;
	}
	#main-menu li a, #top-menu li a {
		padding: 2px 7px 2px 7px !important;
	}
	.logo {
		height: 74px;
		margin: 0 12px 0 0;
	}
}


/* ====================== Correção de responsividade CSS - Gabriel / Daniel ======================= */

#header-social a {
    display: inline-block;
    padding: 2px !important;
}
.safearea {
    padding: initial !important;
}

@media screen and (min-width: 961px) {
  header.portal:not(.fixed) #header-social {
    display: flex;
    flex-wrap: wrap;
    max-width: 85px;
  }
}

@media screen and (max-width: 960px) {
  header.portal:not(.fixed) {
    position: relative !important;
    top: initial !important;
    left: 0;
    right: 0;
  }
  #barra-topo {
    position: relative !important;
    top: 0;
	text-align: center;
    height: 110px;
  }
  #top-menu {
    position: relative !important;
    flex-wrap: wrap;
  }
  #main-container {
    margin-top: 0;
  }

}

@media screen and (max-width: 600px) {
  .evento-descricao table {
    border: 0;
  }

  .evento-descricao table caption {
    font-size: 1.3em;
  }
  
  .evento-descricao table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .evento-descricao table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-bottom: .625em;
	box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 18%);
	border-radius: 6px;
  }
  
  .evento-descricao table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
	box-shadow: none !important;
  }
  
  .evento-descricao table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .evento-descricao table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .banner-interno {
    min-height: 300px;
    align-items: flex-end;
    padding-bottom: 35px;
	background-size: 200% !important;
    background-position-x: 50% !important;
  }
   .filtro-campos {
		padding: 10px !important;
	}
  header.portal {
    top: 135px;
  }
  #comochegar > div {
	max-width: 100%;
	padding: 15px 0;
 }
  #barra-topo {
    position: absolute;
    height: 165px;
    padding: 5px 20px;
    z-index: 998;
  }
  #top-menu {
    margin: 5px 0 0 0 !important;
  }
  #main-container {
    margin-top: 0;
  }
  .bt-vestibular {
    padding: 12px 8px;
    font-size: 0.66em;
  }
	
/* Daniel */
.submenu-bbteca {
	padding-bottom: 20px;
}
.inscricao {
    position: fixed;
    top: 69px !important;
    width: 100% !important;
    left: 0 !important;
    z-index: 10 !important;
}
.inscricao a {
	border-radius: 0 !important;
}
.flags {
	padding: 6px 2px 4px 2px!important;
}
.vestibfloat {
		padding: 0px !important;
    	position: fixed;
    	z-index: 9;
    	top: 65px;
    	left: 0;
    	margin: 0 !important;
   		width: 100%;
	}
.post-banner { 
    min-height: 150px !important;
}
.post-banner-container, .evento-banner-container {
	min-height: 150px !important;
}
.pessoal tr td:last-child {
	width: 100%;
	display: block !important;
}
.pessoal tr td:first-child {
	display: block !important;
}
.pessoal tr td:first-child img {
    height: 123px;
}
}